body{
  background-color: #aeaeae
}
h2{
  text-align: center; font-size: 60px; font-family: monospace;
}
h3{
  text-align: justify; font-size: 30px; font-family: sans-serif;
}
h4{
  text-align: justify;font-size: 25px;font-family: inherit;
}
h5{
  text-align: justify;flex-flow: column-reverse; 50padding:
}
#curry{
  width: 10%
}
#thompson{
  width: 10%
}
#Grenn{
  width: 10%
}
#wiggens{
  width: 10%
}
#looney{
  width: 10%
}
#center{
  width: 50%
}
#dentro{
  width: 50%
}
#goldenstate{
  width: 60%
}
#logo{
  width: 30%
}
#azul.png{
  width: 10%
}

.camisa-preta3{
    width: 23%
}
.camisa-preta{
  width: 23%
}
.camisa-branca{
  width: 23%
}
.camisa-amarela2{
  width: 24%
}
.camisa-branca5{
  width: 23%
}
.camisa-azul5{
  width: 29%
}
.camisa-cinza1{
  width: 29%
}
